*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container{
  margin: 0 auto;
  max-width: 98%;
  width: 1400px;
}

.debug{
  display: flex;
}

.al-center{
  align-items:center;
}

.al-start{
  align-items: start;
}

.link{
  cursor: pointer;
}

.text{
  font-size: 25px;
  line-height: 40px;
}

.d-text{
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
}

.main-text{
  font-size: 60px;
}

.medium-text-up{
  font-size: 50px;
}

.medium-text-down{
  font-size: 34px;
}

.c-white{
  color: white;
}

.medium-text{
  padding-bottom: 40px;
  font-weight: 800;
  color: #23272A;
}

.min-text{
  font-size: 20px;
  font-weight: 600;
  color: #23272A;
}

.padding{
  padding-bottom: 60px;
}

.button{
  border: none;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  cursor: pointer;
}


.small-button{
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
}

.big-button{
  font-size: 20px;
  padding: 15px 30px;
  font-weight: 600;
}

.w-button{
  background-color: white;
  color: black;
}

.b-button{
  background-color: #23272A;
  color: white;
}

.c-button{
  margin-top: 10px;
  background-color: #8EA1E1;
  color: white;
}

#intro{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
}

.top-intro{
  padding-top: 20px;
  padding-bottom: 20px;
}

.head{
  height: 50px;
  display: flex;
}

.head nav{
  width: 60%;
  justify-content: center;
}

.head nav ul{
  display: flex;
  list-style: none;
}

.head nav ul li{
  padding: 25px;
}

.block{
  width: 20%;
}

.flex-end{
  justify-content: flex-end;
}

.content{
  padding-top: 130px;
  max-width: 98%;
  width: 58%;
  margin: auto;
  text-align: center;
}

#jumbo-button{
  padding-bottom: 160px;
}

.rana{
  padding-top: 50px;
  padding-bottom: 15px;
}

.mago{
  padding-top: 70px;
  padding-bottom: 160px;
}

.libro{
  padding-top: 50px;
  padding-bottom: 130px;
}

.video-call{
  padding-bottom: 50px;
}

.first{
  background-color: #FFFF;
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: bottom;
  flex-wrap: wrap;
}

.wave{
  height: 100px;
  width: 100%;
  align-self: flex-end;
  filter: invert(100%) sepia(4%) saturate(612%) hue-rotate(207deg) brightness(114%) contrast(93%);
}

.wave-up{
  rotate: 180deg;
}

.second{
  background-color: #F6F6F6;
}

.third{
  background-color: #23272A;
}

.medium-box{
  padding-top: 100px;
  justify-content: center;
  width: 60%;
}

.small-box{
  padding: 130px 90px;
  width: 40%;
}

.big-box{
  text-align: center;
  padding-bottom: 85px;
}

.big-box img{
  width: 100%;
}

.last-title{
  padding: 160px 0 50px 0;
}

.last-text{
  padding: 0 160px;
}

.star{
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 690px;
  padding-top: 100px;
}

.footer-up{
  padding-top: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid #7289DA;
}

.footer-down{
  padding-top: 30px;
}

.social{
  height: 600px;
  width: 31%;
}

.footer-padding{
  padding-top: 95px;
}

.info{
  line-height: 40px;
  padding-left: 30px;
  height: 600px;
  width: 17.25%;
}

.footer-top{
  color: #7289DA;
  padding-bottom: 30px;
}

.list-info{
  list-style: none;
}

.social div img{
  height: 18px;
}

.lingua{
  flex-wrap: wrap;
}

.nazione{
  padding: 0 0 0 4px;
  font-size: 15px;
  font-weight: 600;
}

.loghi>i{
  padding: 25px 20px 0 0;
}

.end{
  width: 100%;
  justify-content: space-between;
  padding-bottom: 90px;
}
